@font-face {
  font-family: "Gotham Medium";
  src: url(./Metropolis/Metropolis-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Gotham Light";
  src: url(./Metropolis/Metropolis-Light.otf) format("opentype");
}
@font-face {
  font-family: "Gotham Extra-Light";
  src: url(./Metropolis/Metropolis-Thin.otf) format("opentype");
}
:root {
  font-size: calc(0.625rem + 0.4vw);
}
* {
  margin: 0;
}
#content {
  background-image: url(/src/jason-leung-poI7DelFiVA-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  .div2 {
    margin-top: 10rem;
    grid-column: 1/4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.408);
    background-color: rgba(0, 0, 0, 0.845);
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 4fr;
    place-items: center;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
    .div2h1 {
      font-family: "Gotham Medium";
      text-transform: uppercase;
      letter-spacing: 10px;
      color: white;
      text-align: center;
    }
    .pizzaText {
      color: white;
      font-family: "Gotham Light";
      letter-spacing: 2px;
      width: 50vw;
      text-align: center;
      line-height: 1.5rem;
    }
    .pizzaContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 322px));
      gap: 0.5rem;
      .column1,
      .column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .column {
        max-width: 320px;
        padding-bottom: 0.7rem;
        justify-self: center;
      }
    }
  }
  .menu {
    grid-column: 1/4;
    width: 100vw;
    background-color: #fff;
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-columns: 1fr 3fr 1fr;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.109);
    .quote {
      font-family: "Gotham Light";
      grid-column: 2/3;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      line-height: 3rem;
      letter-spacing: 2px;
    }
    .wolfgangPuck {
      font-family: "Gotham Medium";
      text-transform: uppercase;
      letter-spacing: 6px;
      grid-column: 2/3;
      text-align: center;
      margin-bottom: 3rem;
    }
    .formatMenuBar {
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 2fr 0.5fr 0.5fr 0.8fr 2fr;
      place-items: center;
      .logo {
        font-family: "Gotham Extra-Light";
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      .menuList {
        font-family: "Gotham Light";
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
      }
      .menuList:hover {
        cursor: pointer;
        color: #673d17;
        transition: 0.25s;
      }
      .menuList:after {
        display: block;
        content: "";
        border-bottom: #673d17 solid 2px;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform 250ms ease-in-out;
      }
      .menuList:hover:after {
        transform: scale(1);
        transform-origin: 0% 50%;
      }
      .contactBtn {
        border: 2px solid #673d17;
        background-color: white;
        color: #673d17;
        padding: 0.7rem 1em;
        font-family: "Gotham Medium";
        font-size: 1rem;
        letter-spacing: 4px;
        text-transform: uppercase;
        transition: 0.5s;
      }
      .contactBtn:hover {
        cursor: pointer;
        background-color: #673d17;
        color: #fff;
        transition: 0.2s;
      }
    }
  }
  .footer {
    grid-column: 1/4;
    width: 100vw;
    height: 30vh;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.408);
    color: white;
    font-family: "Gotham Extra-Light";
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .github {
      width: 2em;
      background-color: #fff;
      border-radius: 50%;
    }
    .footerSpan {
      width: 13rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
@media (min-width: 680px) {
  #content .div2 .pizzaContainer {
    max-width: 700px;
  }
}
@media (max-width: 648px) {
  #content .div2 {
    grid-template-rows: 0.25fr 0.5fr 3fr;
  }
}
@media (max-width: 1234px) {
  #content .menu {
    place-items: center;
  }
  #content .menu .formatMenuBar {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 15px;
  }
}
